@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url(./roboto-v27-latin-regular.woff2) format("woff2");
}

#splashscreen {
  font-family: Roboto;
}
