# This is a GitHub workflow YAML file
# see https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
#
# This file configures a GitHub workflow responsible to perform
# various checks related to the codebase. For every push to "main" branch
# or every push on a pull request, it
# - ensures there is no eslint error on files
# - ensures there is no test failing
# - uploads code coverage from tests to codecov
#
# If you want to update this file it's recommended to use
# a YAML validator such as https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml
# configured to validate this file with https://json.schemastore.org/github-workflow.json

name: main

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-10.15]
        node: [16.13.0]
    runs-on: ${{ matrix.os }}
    name: test on ${{ matrix.os }} and node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install node modules
        run: npm install
      - name: Run ESLint
        run: npm run eslint
      - name: Run tests
        run: npm run test-with-coverage
      - name: Upload coverage
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage.json
          verbose: true
